
.face {
  animation: shake 1s steps(2, end) infinite;
}

@keyframes shake {
  0% {
    scale: 1 1;
  }
  100% {
    scale: -3 1;
  }
}


/* その他のスタイル */
body {
  display: grid;
  height: 100dvh;
  place-items: center;
  place-content: center;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.face {
  font-size: 80px;
  cursor: pointer;
}

/* 震えたくて震えたくて震える */
