* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #fdfdfd;
  width: 100%;
  height: 100%;
}

body {
  font-size: 40px;
  font-family: "ten-mincho", serif;
  color: #c7a90e;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 69px;
  font-weight: normal;
}