* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #48937c;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: center;
}

h1 {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--primary-color);
  font-size: 80px;
  text-align: center;
}
